@charset "utf-8";

/*style*/

body {
   font-family: 'Roboto', sans-serif;
   margin: 0 auto;
   padding: 0 auto;
   max-width: 100%;
            }

.text-style-white{
	color: white;
	text-decoration-line: none;
	font-weight: normal;
}

.ul-style{
	list-style-type: none;
    padding-left:10px;
	
}

.ul-style li:before{
	content:"\203A";
}
.boxtext{
	width: 100%;
	margin: 5px;
	padding: 5px;
}

.boxtext2{
	width: 92%;
	margin: 5px;
	padding: 5px;
	background-color: black;
	color: white;
	border: none;
}

.submit{
	margin: 2px;
	padding: 2px;
	font-size:8px;
}

.boxtext-and-submit{
	border-bottom: 1px solid white;
	border-radius: 5px;
}

.areatext{
	width: 95%;
	margin: 5px;
	padding: 5px;
}

.mdash{
    font-size: 25px;
    font-weight: bold;
	color: aqua;
}

.center{
	position: absolute;
    top: 100%;
	left: 40%;
    text-align: center;
    font-size: 18px;
	background-color: orange;
	padding: 10px;
	border-radius: 10px;
	color: white;
}

.center2{
	position: absolute;
	top: 50%;

}
/*Chia cột*/

.col-half {
	float: left;
	width: 50%;
	padding-bottom: 1px;
	margin-bottom: 1px;
}

.col-quarter{
	float: left;
	width: 25%;
	padding-bottom: 1px;
	margin-bottom: 1px;
}
/*Thanh menu */

.row{
	font-size: 10px;
}

.row::after{
	content: "";
  	clear: both;
  	display: table;
}

.row nav#menu{	}

.row div#logo{
	height: 50px;
	padding-top: 0px;
	text-align: center;
	font-size: 12pt;
}

.row div#topnav{}

nav#menu a{
	color: white;
	text-decoration-line: none;
	
}

div#logo a{
	width: 50%;
	height: 50px;
	padding-top: 0px;
	text-align: center;
}

div#topnav #ul-top{
	list-style-type: none;
  	overflow: hidden;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 15px;
}

div#topnav #ul-top li{
	float: left;
	margin: 0;
	padding: 0;
}

/* Phan About us */

[class*="col-5-"] {
  float: left;
  padding: 1px;
}

.col-5-1 {width: 20%;}
.col-5-2 {width: 40%;}
.col-5-3 {width: 60%;}
.col-5-4 {width: 80%;}
.col-5-5 {width: 100%;}

/*Phần our business*/

.col-row-flex{
	display: flex;
	flex-direction: row;
}

/* Vị trí của các chữ trong our business*/

.relative{
	 position: relative;
}

.absolute-title{
	position: absolute;
  	top: 8px;
   	left: 16px;
  	font-size: 10px;
	color: white;
	text-decoration-line: none;
	font-weight: normal;
}

.absolute{
	position: absolute;
	left: -55px;
	top: 35px;
	font-size: 10px;
	color: white;
}

.absolute img{
	border-radius: 50px;
}

.absolute div{
	float: left;
}

/*news*/

.news{
	border: 1px solid black;
	margin: 5px;
	padding-bottom: 5px;
}
/*Contact*/

.news a{
	color: black;
}

footer#footer{
	background-color: black;
	padding-top: 20px;
	padding-bottom: 0px;
	margin-top: 50px;
}